@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Geist:wght@100..900&family=Inter:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #0e0e11;
  --color-primary-dark: #051123;
  --color-primary-surface: #131316;
  --color-secondary: #ddb7ff;
  --color-secondary-bright: #ffb0cd;
  --color-text-primary: #e4e1e6;
  --color-text-secondary: #cfc2d6;
  --color-border-default: #4d4354;
  --color-bg-page: #0e0e11;
  
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-hanken: 'Hanken Grotesk', sans-serif;
  --font-geist: 'Geist', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    margin: 0;
    min-height: 100%;
    width: 100%;
  }

  body {
    font-family: var(--font-sans);
    background-color: var(--color-bg-page);
    color: var(--color-text-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
